<app-navbar></app-navbar>

<div class="container">
    <div class="row filter-container">
        <div class="filter-box ">
            <h1 class="text-left">Book List</h1>
            <div class="dataTables_length">
                <label>Show entries
                    <select [(ngModel)]="pageList.pageSize" (change)="listBooks()" id="dropdown2">
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="20">20</option>
                        <option value="24">28</option>
                    </select> 
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" *ngFor="let book of books">
            <div class="card mb-4 fixed-height-card">
               <a  [routerLink] ="['/book', book.id]"> <img  [src]="book.imageUrl" class="card-img-top"> </a> 
                <div class="card-body ">
                    <h4 class="card-title">Title: {{ book.title }}</h4>
                    <p class="card-text">Author: {{ book.author }}</p>
                    <p class="card-text">publisher: {{ book.publisher }}</p>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="paginations">
                <div class="btn-group" id="radioBtn">
                    <a class="btn btn-primary btn-sm notActive" (click)="onPrevious()">Previous</a>
                    <a class="btn btn-primary btn-sm active">{{ pageList.pageIndex }}</a>
                    <a class="btn btn-primary btn-sm notActive" (click)="onNext()">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
