<app-navbar></app-navbar>
<div class="container">
    <div class="my-4">
        <h1 class="text-left">Reated Books:</h1>
    </div>

    <div class="row">
        <div class="col-md-3" *ngFor="let ratedBook of user?.booksRated">
            <div class="card mb-4 fixed-height-card">
                <a [routerLink]="['/book', ratedBook.book.id]"> <img [src]="ratedBook.book.imageUrl" class="card-img-top"> </a>
                <div class="card-body ">
                    <h5 class="card-title">Title: {{ ratedBook.book.title }}</h5>

                    <p class="card-text">Author: {{ ratedBook.book.author }}</p>
                    <p class="card-text">publisher: {{ ratedBook.book.publisher }}</p>
                </div>
            </div>
        </div>
    </div>
</div>